/* Sidebar */

.sidebar {
    background-color: var(--sidebar-bg);
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    width: 250px;
    height: calc(100% - 20px);
    flex-shrink: 0;
    margin: 10px;
}

.sidebarTitleBar {
    display: flex;
}

#sidebarTitle {
    color: var(--text-color-2);
    margin-top: 10px;
    margin-left: 20px;
}


.sidebarSearch {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

#sidebarSearchInput {
    background-color: var(--sidebar-search-input-bg);
    width: 70%;
    height: 70%;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 10px 10px 35px;
    border-radius: 8px;
    border: none;
    outline: none;
    transition: 0.3s;
}

#sidebarSearchInput:focus {
    border-color: rgba(209, 209, 216, 0.747);
    box-shadow: 0 0 5px rgba(0,0,0,0.30);
}

#searchIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 30px;
    margin-top: 10px;
    pointer-events: none;
}

/* Sidebar Navigation */

.sidebarNavigation {
    margin: 20px;
}

.sidebarMenus {
    color: wheat;
}

#menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    height: 90%;
    padding: 12px 15px;
    margin-bottom: 5px;
    margin-right: 10px;
    border: none;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 15px;
    color: #555;
}

#menuItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
}


#menuItem.active {
    background-color: rgba(0, 0, 0, 0.08);
    font-weight: 600;
    color: #000;
}

#menuItemIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    left: 40px;
    pointer-events: none;
}

#menuItemText {
    margin-left: 20px;
    margin-bottom: 3px;
}

.separator {
    margin-top: 20px;
}
